h1 { 
    font-style: bold; 
    text-align: center;
}
body { 
    background-color: gray;
}
img { 
    display: block; 
    margin: 0px; 
    border: thick solid darkblue;
    background-color: darkgrey;
    width: 300px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}