h1 { 
    font-style: bold; 
    text-align: center;
}
body { 
    background-color;
}
img { 
    display: block; 
    margin: 0px; 
    border: thick solid gray;
    background-color: darkgray;
    width: 300px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}